extends layout

block content
  body
    ul.menu
      li
        a(href='/') Home
      li
        a(href='/samochody') Samochody
      li
        a(href='/kontakt') Kontakt
      li.register
        a(href='/rejestracja') Rejestracja
      li.register
        a(href='/logowanie') Logowanie
    div
      img.profilowe(src='MateuszDobija.jpg', alt='Zdjęcie profilowe')
      h2.nazwisko Mateusz Dobija - wypożyczalnia samochodów
      p Zapraszam do skorzystania z usług mojej wypożyczalni samochodów.
      p Posiadam auta różych typów - zarówno typowe auta miejskie, jak i limuzyny. 
      p Nowość - oferujemy róznież samochody elektryczne!
      br
      p W związku z dużym zainteresowaniem naszą ofertą w okresie letnim prosimi o wyrozumiałość w związku z ograniczoną dostępnością samochodów.
    footer
      p Mateusz Dobija © 2019
