extends layout

block content
  div
    img.profilowe(src='/MateuszDobija.jpg', alt='Zdjęcie profilowe')
    h2.nazwisko Panel użytkownika - logowanie
    form(method="POST"  action="/logowanie")
      input(type="text" placeholder='adres e-mail' name="email")
      input(type="text" placeholder='hasło' name="password")
      input(type="submit" value="Zaloguj")       
  footer
    p Mateusz Dobija © 2019

